{{ printf "<!-- D START list -->"  | safeHTML }}
{{ partial "head" . }}
{{ partial "header" . }}

<div class="content">
  
  <main id="main">
    <!-- {{ printf "%#v" $.Site }} -->
    {{ if (eq .Section "tags") }}
    <div>
    <h1 class="archive-category"> <i class="fa fa-chevron-right"></i>{{ lower .Title }}</h1></div>
    {{ else if (eq .Section "categories") }}
    <h1 class="archive-category">/{{ lower .Title }}
      {{ with (eq (lower .Title) "pic") }}
      <i class="fa fa-file-image-o"></i>
      {{ end }}
      {{ with (eq (lower .Title) "aud") }}
      <i class="fa fa-file-audio-o"></i>
      {{ end }}
      {{ with (eq (lower .Title) "txt") }}
      <i class="fa fa-file-text-o"></i>
      {{ end }}
      {{ with (eq (lower .Title) "src") }}
      <i class="fa fa-file-code-o"></i>
      {{ end }}
      {{ with (eq (lower .Title) "nfo") }}
      <i class="fa fa-info-circle"></i>
      {{ end }}
    </h1>
    {{ end }}
    
    {{ $paginator := .Paginate .Data.Pages }}
    {{ range $paginator.Pages }}
    {{ .Render "summary" }} 
    {{ end }}
     {{ partial "pagination" . }}
  </main>
  
  
  
  {{ partial "aside" . }}
  
  
</div>
{{ partial "footer" . }}
{{ partial "end_body_end_html" . }}
{{ printf "<!-- D END list -->"  | safeHTML }}
